/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(204, 0, 1, 0.75);
  cursor: pointer;
}

/* Typography */

html {
  font-family: 'Barlow', sans-serif;
  background: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5em;
  margin: 0.5em 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.25em;
}

h5 {
  font-size: 1.75em;
}

h6 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0.5em 0;
}

ul {
  list-style: disc;
  padding-left: 2em;
}

li {
  font-size: 1.5em;
  line-height: 1.5em;
}

a, a:visited {
  text-decoration: none;
}

.title {
  line-height: 1em;
  margin-bottom: 0.5em;
}

.center {
  text-align: center;
}

/* Background and Page */

.background {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.75;
}

.page {
  z-index: 1;
  position: relative;
  padding-top: 75px;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

/* Header */

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
}

.header .logo, .header nav {
  height: 75px;
  display: inline-block;
  vertical-align: top;
}

.header .logo {
  opacity: 0.75;
}

.header .logo:hover {
  opacity: 0.5;
  cursor: pointer;
}

.header nav {
  padding-right: 1em;
  overflow: hidden;
  text-align: right;
}

.header nav a, .header nav a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 75px;
  margin: 0 0.5em;
}

.header nav a:hover {
  color: rgb(204, 0, 1);
}

/* Layout */

.section {
  max-width: 100%;
  padding: 4em 2em;
}

.splash {
  padding: 25vh 0;
}

.narrow {
  max-width: 600px;
  margin: 0 auto;
}

.very-narrow {
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {

  .narrow, .very-narrow {
    max-width: 90%;
  }

}

.wide {
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {

  .wide {
    max-width: 90%;
  }

}

.columns {
  font-size: 0;
}

.columns .column {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  padding: 1%;
  font-size: 15px;
}

.project h3 {
  margin: 0;
}

@media screen and (max-width: 600px) {

  .columns .column {
    width: 100%;
  }

  .preview img {
    width: 100%
  }

  .project {
    text-align: center;
  }

}

.preview {
  margin: 2em auto;
  width: 100%;
  text-align: center;
}

.preview img {
  display: inline-block;
  width: 90%;
}

/* Landing Page */

.transparent {
  color: white;
}

.red {
  background: rgba(204, 0, 1, 0.75);
  color: white;
}

.dark {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Forms */

.button {
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  margin-right: 0.5em;
  display: inline-block;
}

.button i {
  margin-right: 0.25em;
}

.secondary, .tertiary {
  border: 1px solid white;
  color: white;
}

.secondary:hover, .tertiary:hover {
  border: 1px solid white;
  background: white;
  color: rgba(204, 0, 1, 1);
  font-weight: bold;
}

.tertiary {
  border: none;
  color: white;
}

/* Members */

.team {
  text-align: center;
}

.team h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

.team .member {
  margin: 1em;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
  background: transparent;
  transition: background 0.25s;
  -webkit-transition: background 0.25s;
  will-change: background;
}

.team .member:hover {
  background: rgba(255, 255, 255, 0.15);
}

.team .member .profile,
.team .member .details {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.team .member .details {
  width: 180px;
}

/* https://stackoverflow.com/a/18674144 */

.team .member .profile {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1em;
  margin-bottom: 0.5em;
  position: relative;
}

.team .member .photo {
  position: absolute;
  margin: auto;
  top: -1000%;
  bottom: -1000%;
  left: -1000%;
  right: -1000%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.team .member .name {
  margin: 0;
  line-height: 1em;
  /* To wrap each word on its own line */
  word-spacing: 100vw;
}

.team .member .info {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 0.25em;
}

.team .links a {
  margin: 0.25em;
}

.team .links a, .team .links a:visited {
  color: white;
}

.team .links a:hover {
  color: rgba(204, 0, 1, 1.0);
}

.team .links .tooltip {
  position: relative;
  display: inline-block;
}

.team .links .tooltip .label {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 125%;
  width: 180px;
  padding: 2.5px 5px;
  margin-left: -95px;
  background: rgba(204, 0, 1, 1.0);
  color: white;
  text-align: center;
  font-size: 0.8em;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  will-change: opacity, visibility;
}

.team .links .tooltip:hover .label {
  visibility: visible;
  opacity: 1;
}

.team .links .tooltip .label::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(50% - 7.5px);
  width: 0; 
  height: 0; 
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid rgba(204, 0, 1, 1.0);
}

@media screen and (max-width: 405px) {

  .team .member .profile,
  .team .member .details {
    width: 100%;
    display: block;
    text-align: center;
  }

  .team .member .profile {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1em;
  }

}
